.upload-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.card-content {
    margin: 20px 0;
}

.drop-target {
    border: 2px dashed #fea769;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fea769;
}

.drop-target.file-dropped {
    border: 2px dashed #fbb03b;
    color: #fbb03b;
}

.file-name {
    margin: 10px 0;
    font-weight: bold;
}

.uploaded-files-list {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 16px;
}

button {
    background-color: #d95117;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* CSS for the new Choose File button */

.choose-file-area {
    margin-top: 20px;
}

.choose-file-area label {
    font-size: 16px;
    font-weight: bold;
}

.choose-file-area input {
    border: 1px solid gray;
    padding: 10px;
}
